;; shadow-cljs configuration
{:source-paths
 ["src", "dev"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [hiccup "1.0.5"]
                [reagent "0.8.0-alpha2"]
                [cider/cider-nrepl "0.22.3"]
                [binaryage/oops "0.7.0"]
                [org.clojure/core.async "1.2.603"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"
        :module-hash-names true
        :modules
        {:main
         {:entries [algoradio.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load algoradio.core/stop
         ;; after live-reloading finishes call this function
         :after-load algoradio.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}}}}
