$colors: (
	base:	#312822,
	white:	#FFFFFF,
        background: #1f1f35,
        light-grey: #999,
        checked: #ffc107,
        purple: #ada3e5
	);

@function c($color:base) {
	@return map-get($colors, $color);
}

//no borrar
$colorForeground: c();
$colorBackground: c(white);
$colorFeatured: c(base);
$colorError: #8A1010;
