@charset "UTF-8";
//===Mazorca Core===//
@import "../../node_modules/mazorca-core/_mazorca-core.scss";

//===Configs===//
@import "mazorca/config/_config";

//===Vendor===//Css begins compling here
// @import "vendor/bootstrap/_bootstrap.scss";

//===Mazorca===//
@import "mazorca/_elements";
@import "mazorca/_grid";//
@import "mazorca/_components";
@import "mazorca/_theme-helpers";
@import "mazorca/_modules";

body {
  background-color: c(background);
}

h1 {
  color: c(white);
  font-size: 40px;
  font-weight: bold;
  padding: 20px 16px;
  text-align: center;
}

b {font-weight: bold;}

.link {
  color: c(checked);
  cursor: pointer;
  &:hover {
    color: lighten(c(checked), 15%);
  }
}

.main {
  padding: 16px 16px 0;
  position: relative;;
}

.intro {
  &__p {
    color: c(white);
    font-size: 20px;
    padding: 0 16px;
    text-align: center;
  }
}

.ReactCodeMirror .CodeMirror.cm-s-oceanic-next {
  background-color: rgba(0,0,0,0);
  min-heigh: 100%;
}

.container {
  //  display: flex;
}

.editor {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 18px;
  &__flashed-text {
    background-color: c(checked);
  }
}

.search {
  position: absolute;
  top: 8px;
  right: 8px;
  max-width: 400px;
  width: 100%;
  padding-right: 8px;
  z-index: 9;
  &__input {
    &-container {
      display: flex;
      position: relative;
    }
    padding: 5px;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    &:focus {
      border-color: c(checked);
    }
  }


  &__button {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }

  &__checkbox {
    &-container {
      text-align: right;
      margin-bottom: 24px;
    }
    &-label {
      font-size: 14px;
      padding-left: 3px;
      color: c(white);
      position: relative;
      top: 5px;
    }

  }

  &__source {
    padding: 5px 0 10px;
    text-align: right;
    color: c(white);
    font-size: 10px;
    a{
      color: c(checked);
    }
  }
}

.fields {
  position: absolute;
  z-index: 9;
  right: 8px;
  top: 110px;
  &__field {
    &-container {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: right;
    }
    &-name {padding-right: 8px;}
    &-color {
      &-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
      }
      height: 16px;
      width: 16px;
      opacity: 0.7;
      cursor: pointer;
    }
    margin-bottom: 4px;;
    font-size: 14px;
    color: c(white);
  }
  &__separator {
    padding: 0 3px;
  }
  &__input {
    color: c(background);
    background-color: c(white);
    padding-right: 0px;
    width: 50px;
  }
}

.source-info {
  position: fixed;
  width: 100%;
  font-size: 14px;
  z-index: 9;
  line-height: 21px;
  color: white;
  opacity: 0.8;
  &__container {
   padding: 12px;
  }
  &.center, &.centro {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  &.bottom, &.abajo {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  &.top, &.arriba {
    left: 0;
    top: 0;
    width: 100%;
  }
  &.right, &.derecha {// Another option
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
  }
  &.left, &.izquierda {// Another option
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }
  &.as-background {
    opacity: 0.3;
    z-index: 1;
  }
  span {background-color: rgba(33,33,33, 0.5)}
  .link {
    font-size: 14px;
    position: relative;
    span {
      padding: 5px 5px 5px 0;
    }
  }
  &__close {
    padding: 3px 8px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
